
#home-bg { 
        background: no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-image: url(../images/hero-image.png);
        margin: 0px;
}

#mission-bg { 
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/piano.png);
    margin: 0px;
}

#north-metro-bg { 
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/north-metro.png);
    margin: 0px;
}

nav {
    padding: 0 20px 0 0 !important;

}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
 }




.dropdown-item:hover{
    background-color: #c3f4fc !important;
}

.dropdown-item:active{
    background-color:#77efff !important;
    color: black !important;
}

#navbarDropdown1:hover{
    border: 2px solid #77efff;
    border-radius: 4px;
    color: black;
    margin: -2px;
}

.bg-light {
    background-color: #77efff !important;
    color: black !important;
}


.xnavbar-nav {
    color: white !important;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
   
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }

  .dropdown-menu {
    margin-top: 0;
  }

.navbar-nav li{
    color: black;
}

.jumbotron {
    position: relative;
    border-radius: 0px !important;
    background: transparent !important;
    font-family: 'Teko', sans-serif;
}

.hero-text {
    color: #fff;
    font-weight: 300;
    font-size: 65px;
    letter-spacing: 2px;
}

.hero-sub-text {
    align-self: flex-end;
    color: #fff;
    font-weight: 100;
    font-size: 30px;
    margin-right: 30px;
    letter-spacing: 1.2px;
}

.nav-item {
    color: black;
}

.secondary-btn {
    background-color: #87D2DB;
    border: none;
    color: #251C18 !important;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 5px 4px #435D60;
    font-family: 'Teko', sans-serif;
    border: 2px solid #435D60;
    text-transform: uppercase;
}

.secondary-btn:hover {
    background-color: #B6F4FB;
    text-decoration: none;
    color: #332824;
}

.secondary-btn:active {
    background-color: #77efff;
    text-decoration: none;
    box-shadow: 2px 1px #435D60;
}

.primary-btn {
    background-color: #FFA90A;
    border: none;
    color: #251C18;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 5px 4px #435D60;
    font-family: 'Teko', sans-serif;
    border: 2px solid #435D60;
    text-transform: uppercase;
}

.primary-btn:hover {
    background-color: #F4CC52;
    text-decoration: none;
    color: #332824;
}

.primary-btn:active {
    background-color: #ffe388;
    text-decoration: none;
    box-shadow: 2px 1px #435D60;
}

.hero-color-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    background-color: #008695ce;
    position: absolute;
    top: -75px;
    left: 0;
    z-index: 10000;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 50px;
    height: 650px;
}

#logo {
    position: absolute;
    top: -50px;
    object-fit: scale-down;
    padding-top: 0px;
    margin-top: 20px;

}

.jumbotron a{
    float: right;
    margin: 400px 200px 0px 0px;
}

.orange-fold-line {
    display: inline-block;
    width: 100%;
    background-color: #FFA90A;
    height: 16px;
    margin-top: 55px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background-color: white;
    padding: 20px 10% 10px 10%;
    margin-top: 0px;
}

.card-body {
    background-color: #F5EFED;
    box-shadow: 5px 4px #acabab !important;
    border-radius: 5px;
    padding-top: 2% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
    padding-bottom: 2% !important;
    margin: 10px 0px 10px 0px;
}

.card {
    border: none !important;
}


.card-caption {
    font-family: 'Teko' sans-serif;
    font-size: 14px;
}
.calendar {
    height: 100% !important;
}

h3 {
    font-family: 'Teko', sans-serif!important;
    font-size: 35px !important;
    letter-spacing: 1.3px;
    padding: 0px !important;
    margin-bottom: 0px !important;
    font-weight: 300; 
}

.card-body-btn {
    display: flex;
    flex-direction: column;
}

figcaption { 
    display: block;
    font-family: 'Teko';
    font-size: 18px;
    padding-left:20px;
  }

.vision-card-body-btn a{
    margin: 0 40% 0 40%;
}

.news-card-container{
    display: flex;
    flex-direction: row;
    position: relative;
}

.news-card{
    margin-bottom: 20px;
}

.news-card img{
    object-fit: cover;
    border-radius: 4px;
    margin: 20px;
}
.news-card a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.side-color {
    position: absolute;
    display: block;
    width: 5%;
    height: 100%;
    background-color: #87D2DB;
    top: 0px;
    left: 0px;
    border-radius: 5px 0px 0px 5px;
    
}

.side-blue {
    background-color: #87D2DB;
}

.side-orange {
    background-color: #FFA90A;
}

.band-card {
    background-color: #F5EFED;
    box-shadow: 5px 4px #acabab !important;
    border-radius: 5px;
    padding:15px;
}

.card-text-orange {
    background-color: #FFA90A;

}

.card-text-blue {
    background-color: #77efff;


}

.band-card img{
    padding: 20px;
    object-fit: scale-down;
}


.band-card-container {
    display: flex;
}

.band-card h3 {
    padding-top: 15px !important;
    padding-left: 8% !important;
}

.band-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 8%;
}

.link-btn {
    background-color: #ffe388;
    border: none;
    color: #251C18;
    padding: 5px 30%;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 5px 4px #435D60;
    font-family: 'Teko', sans-serif;
    border: 2px solid #435D60;
    text-transform: uppercase;
}

.link-btn:hover {
    background-color: #F4CC52;
    text-decoration: none;
    color: #332824;
}

.link-btn:active {
    background-color: #ffe388;
    text-decoration: none;
    box-shadow: 2px 1px #435D60;
}

.bottom-btn-container {
    width: fit-content;
    min-width: 250px;
    text-align: center;
    white-space: nowrap;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#bottom-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.link-btn {
    align-self: center !important;

}


footer {
    background-color: #251C18;
    color: white;
    margin: 0px;
    padding-top: 40px;
    Padding-left: 50px;
    padding-bottom: 25px;
}

footer img{
    margin: 10px 30px 0px 0px;
}

.text-uppercase {
    font-family: 'Teko', sans-serif;
    font-size: 28px;
}

.list-unstyled a{
    color: white;
    font-family: 'Teko',sans-serif;
    font-size: 24px;
}

.list-unstyled a:hover{
    color: #77efff;
    text-decoration: none;
}

footer p {
    margin: 2px;
}

#contact-container {
    border-right: 1px solid white;
    height: 100%;
}

#contact-container a{
    color: white;
}

#social-container {
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 11px;
    padding-left: 28px;
}

#social-container img{
    width: 30px;
    height: 30px;
}

#testimonials-row {
    margin-top: 10px !important;
}

.page-footer {
    margin-right: 55px;
    display: flex !important;
    flex-direction: column !important;
    align-content: center !important;
    justify-content: center !important;
    padding-right: 50px;
    
}


@media only screen and (max-width: 1000px) {
    .hero-color-block {
      background-color: transparent;
      margin-top: 90px;
      width: 100%;
    }

    .hero-color-block h1 {
        display: none;
    }

    .hero-color-block p{
        display: none;
    }

    .hero-align {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #testimonials-row {
        margin: 0px;
    }

    #logo {
        position: absolute;
        top: -120px;
        object-fit: scale-down;
        padding-top: 0px;
        margin-top: 0;
        min-width: 200px;
        width: 30%;
        right: 0px;
        margin-right: 5%;
    }

    .navbar {
        margin: 40px;
    }   

    .dropdown-item:active{
        background-color:#77efff !important;
        color: black !important;
    }

    #navbarDropdown1 {
        width: 30%;
    }
    
    #navbarDropdown1:hover{
        border: none;
        border-radius: 0px;
        color: black;
    }

}

@media only screen and (max-width: 1200px) {

#logo {
    margin-top: -30px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body.secondary-btn {
    width: 60%;
    align-self: center;
    margin-top: 10px !important;
}

.card-body.primary-btn {
    width: 60%;
    align-self: center;
    margin-top: 10px !important;
}
.vision-card-body-btn a{
    margin: auto;
}

.calendar {
margin-bottom: 20px !important;
}

.news-card{
    margin-bottom: 10px;
}

.band-card {
    margin-bottom: 20px;
}
.side-color {
    margin-bottom: px;
}

.side-color {
    position: absolute;
    display: block;
    width: 100%;
    height: 7%;
    top: 0px;
    left: 0px;
    border-radius: 5px 5px 0px 0px;   
}

.band-card-title {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 40px;
}

#contact-container {
    border-right: 0px;
    height: 100%;
}

#social-container {
    margin-left: auto;
    margin-right: auto;
}

.news-card-container{
    flex-direction: column-reverse;
    position: relative;
}
.news-card img{
    object-fit: cover;
    width: 60%;
    align-self: center;
}

.jumbotron .primary-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}

@media only screen and (max-width: 750px) {
.bottom-btn-container {
    width: fit-content;
    text-align: center;
    white-space: nowrap;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
}

/* Animated Navbar Icon /

/* Icon 1 */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #77efff;
    border: none !important;
    }
    
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }